.css-vtqppj-MuiButtonBase-root-MuiButton-root {
    background-color: #da6509 !important;
    color: white !important;
    font-size:1.5rem !important;
}
.css-1999axt-MuiAvatar-root {
    background-color: #da6509 !important;
}
#sign-up-radio-group-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .sign-up-avatar-cont {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
            width:28vw;
        }
    }

}







@media (min-width: 480px) {
    
}
@media (min-width: 768px) {
    #sign-up-radio-group-cont {
        .sign-up-avatar-cont {
            img {
                width:8vw;
            }
        }
    }
}
@media (min-width: 1024px) {

}