#grocery-list-cont {
    min-height:80vh;
    margin-top: 7vh;
    #grocery-list-add-item-cont {
        height: 8vh;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        font-family: "Lobster Two", sans-serif;
        font-size: 5rem;
        color: #da6509;
        margin: 0;
        padding: 15px;
        background: black;
    }
    .grocery-list-children-cont:nth-child(odd) {
        background-color: #212A2E;
    }
    .grocery-list-children-cont:nth-child(even) {
        background-color: rgb(0, 0, 0);
    }
    .grocery-list-children-cont {
        display: flex;
        padding: 1.5em;
        align-items: center;
        position: relative;
        color: rgb(255, 255, 255);
        border-top: 1px solid #da6509;
        p {
            margin: 0;
            font-size: 2.2rem;
            padding-left: 2vw;
            border-left: 1px solid #da6509;
        }
        svg {
            font-size: 3rem;
        }
        .grocery-list-edit-cont {
            position: absolute;
            right: 2px;
        }
        .checkIcon {
            visibility: hidden;
        }
    }
    .grocery-list-children-cont:hover {
        background-color: #da6509;
    }
}


// I want these css rules when i'm at a certain mobile view
@media (min-width: 480px) {

}

// I want these css rules when i'm not mobile anymore => Ipad
@media (min-width: 768px) {
    #grocery-list-cont {
        width:85vw;
        margin: 7vh auto 0 auto;
    }
}
// I want these css rules when i'm not Ipad anymore => Laptop
@media (min-width: 1024px) {
    #grocery-list-cont {
        margin-top: 12vh;
    }
}