#grocery-list-cont {
    min-height:80vh;
}
#mobile-view-cont {
    min-height:80vh;
    #grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
}




#lg-view-cont{
    display: none;
}




// I want these css rules when i'm at a certain mobile view
@media (min-width: 480px) {
    
}

// I want these css rules when i'm not mobile anymore => Ipad
@media (min-width: 768px) {
    #mobile-view-cont {
        display: none;
    }
    #lg-view-cont{
        display: block;
    }
    
}
// I want these css rules when i'm not Ipad anymore => Laptop
@media (min-width: 1024px) {
    
}