#discover-meals-title-cont {
    background-color: #da6509;
        color: black;
        padding: 8px;
        text-align: center;
        font-size: 2rem;
        h1 {
            margin: 0;
            font-family: 'Parisienne', cursive;
            letter-spacing: 1px;
        }
}