@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

#main-dish-container {
    text-align: center;
    background-color: black;
    overflow-x: hidden;
    position: relative;
    height:95vh;
    background-image: url('../../Pictures/chef-bottom-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    img {
        width:90%;
    }
    p.main-dish-main-p-tag {
        font-size: 4rem;
        letter-spacing: 1px;
        color:#da6509;
        margin: 0 auto;
        
    }
    p:nth-child(3) {
        font-size:3rem;
        color:white;
        margin-top: 2vh;

    }
    span {
        color:white;
        font-size: 2.5rem;
    }
}
#lg-main-dish-container {
    min-height:40vh;
    background-image: url('../../Pictures/chef-bottom-bg.png');
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: bottom;
    display: none;
    overflow: hidden;
    color: #fff;
    img {
        animation: spin 35s infinite linear;
        width: 50vw;
    }
    #lg-main-dish-caption {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        bottom:8vh;
        p:nth-child(1) {
            color: #da6509;
            font-size: 4rem;
            text-decoration: overline;
        }
        p:nth-child(2) {
            font-size: 2rem;
            margin: 0;
        }
        p:nth-child(3) {
            font-size: 2rem;
            margin: 12px 0 0 0;
        }
        span {
            color:#fff;
        }
    }
}
#who-are-we-cont {
    display: flex;
    flex-direction: column;
    #who-are-we-text {
        text-align: center;
        h5 {
            font-size: 2.5rem;
            margin-bottom: 1vh;
        }
        p {
            font-size: 2rem;
            padding: 5px;
            font-weight: bold;
        }
        #who-are-we-btns {
            display: flex;
            a {
                margin: 0 auto;
                button {
                    padding:8px;
                    background-color: #da6509;
                    color:#fff;
                    font-size: 2rem;
                }
            }
    }
    }
    img {
        width:100vw;
    }
}
#features-intro-cont {
    h1 {
        text-align: center;
        font-size: 4rem;
        text-decoration: underline;
        margin-bottom: 0;
    }
    p {
        font-size: 2rem;
        padding:5px;
        text-align: center;
    }
}
#feature-cont, #feature-cont-reversed {
    display: flex;
    flex-direction: column;
    .featured-text-div {
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
        p {
            padding:10px 5px;
            font-size: 2rem;
        }
    }
    .featured-img-div {
        width:100vw;
    }
    img {
        width:100%;
    }
}
#home-recipe-gallery-wrapper {
    text-align: center;
    padding-bottom: 5em;
    #home-recipe-gallery-h2 {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
    }
    p {
        text-align: center;
        font-size: 1.5rem;
    }
    a {
        background-color: #da6509;
        color: white;
        padding:1em;
        border-radius: 30px;
        letter-spacing: 1px;
        font-size: 1.5rem;
        position: relative;
        top:16px;
        text-decoration: none;
    }
}
#home-recipe-categories {
    background-color: black;
    min-height:120vh;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
        padding:5px;
    }
    img:nth-child(1) {
        position: absolute;
        top: 0;
        right: 0px;
        overflow: hidden;
        transform: rotate(180deg);
    }
    img:nth-child(4){
        position: absolute;
        bottom: 0;
        left: 0px;
        overflow: hidden;
    }
}
#home-review-cont {
    min-height:50vh;
    text-align: center;
    h2 {
        font-size: 3rem;
        margin-bottom: 1vh;
    }
    img {
        width: 45%;
        margin-top: 5vh;
    }
    #home-review-testimonial-caption {
        font-size: 1.8rem;
        padding: 0 2em;
        text-align: left;
        p:nth-child(6) {
            font-size: 2.2rem;
            margin-bottom: 4px;
        }
        span {
            color: lightgray;
        }
    }
    .home-review-testimonial-star {
        font-size:3.4rem;
        color: #febd2f;
        margin-left: -8px;
    }
}








@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

// I want these css rules when i'm not mobile anymore => Ipad
@media (min-width: 480px) {

}

// I want these css rules when i'm not mobile anymore => iPad
@media (min-width: 768px) {
    #main-dish-container {
        display: none;
    }
    #lg-main-dish-container {
        display: flex;
        img {
            width: 56vw;
        }
    }
    #who-are-we-cont {
        flex-direction: row;
         img {
            width: 60vw;
        }
        #who-are-we-text {
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                margin: 0 auto;
                button {
                    padding:8px;
                    background-color: #da6509;
                    color:#fff;
                    font-size: 2rem;
                }
            }
        }
    }
    #featured-reversed {

    }
    #feature-cont, #feature-cont-reversed {
        flex-direction: row;
        padding: 15px 0;
        .featured-text-div {
            width:50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 3rem;
            }
        }
        .featured-img-div {
            width:50vw;
            display: flex;
            padding: 0px;
            align-items: center;
            justify-content: center;
        }
        img {
            width:60%;
        }
    }
    #feature-cont-reversed {
        background-color: #3c3b5b;
        flex-direction: row-reverse;
        border-radius: 10px;
    }
    #home-recipe-categories {
        min-height: 100vh;
        h2 {
            font-size: 6.5rem;
        }
        p {
            font-size: 3.5rem;
        }
    }
    #home-review-cont {
        img {
            width:30%;
        }
        #home-review-testimonial-caption {
            padding: 0 10em;
        }
    }
}
// I want these css rules when i'm not iPad anymore => Laptop
@media (min-width: 1024px) {
    .lg-screen-margin {
        width:80%;
        margin: 0 auto;
    }
    #who-are-we-cont {
        img {
            width: 50vw;
        }
    }
    #lg-main-dish-container {
        img {
            width:40vw;
        }
    }
    #home-recipe-categories {
        h2 {
            font-size:4rem;
        }
        p {
            font-size: 2rem;
            padding:0 2em;
        }
        img:nth-child(1) {
            top:-50px;
        }
        img:nth-child(4) {
            bottom:-50px;
        }
    } 
}