@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

#main-dish-container {
    text-align: center;
    background-color: black;
    font-family: 'Spirax', cursive;
    overflow-x: hidden;
    position: relative;
    height:95vh;
    background-image: url('../../Pictures/chef-bottom-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    img {
        width:90%;
    }
    p.main-dish-main-p-tag {
        font-size: 4rem;
        letter-spacing: 1px;
        color:#da6509;
        margin: 0 auto;
        
    }
    p:nth-child(3) {
        font-size:3rem;
        color:white;
        margin-top: 2vh;

    }
    span {
        color:white;
        font-size: 2.5rem;
    }
}
#lg-main-dish-container {
    min-height:40vh;
    background-image: url('../../Pictures/chef-bottom-bg.png');
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: bottom;
    display: none;
    overflow: hidden;
    color: #fff;
    img {
        animation: spin 9s infinite linear;
        width: 50vw;
    }
    #lg-main-dish-caption {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        bottom:8vh;
        p:nth-child(1) {
            color: #da6509;
            font-size: 4rem;
            text-decoration: overline;
        }
        p:nth-child(2) {
            font-size: 2rem;
            margin: 0;
        }
        p:nth-child(3) {
            font-size: 2rem;
            margin: 12px 0 0 0;
        }
        span {
            color:#fff;
        }
    }
}
#who-are-we-cont {
    display: flex;
    flex-direction: column;
    #who-are-we-text {
        text-align: center;
        h5 {
            font-size: 2.5rem;
            margin-bottom: 1vh;
        }
        p {
            font-size: 2rem;
            padding: 5px;
            font-weight: bold;
        }
        #who-are-we-btns {
            display: flex;
            a {
                margin: 0 auto;
                button {
                    padding:8px;
                    background-color: #da6509;
                    color:#fff;
                    font-size: 2rem;
                }
            }
    }
    }
    img {
        width:100vw;
    }
}









@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

// I want these css rules when i'm not mobile anymore => Ipad
@media (min-width: 480px) {

}

// I want these css rules when i'm not mobile anymore => iPad
@media (min-width: 768px) {
    #main-dish-container {
        display: none;
    }
    #lg-main-dish-container {
        display: flex;
        img {
            width: 56vw;
        }
    }
    #who-are-we-cont {
        flex-direction: row;
         img {
            width: 60vw;
        }
        #who-are-we-text {
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                margin: 0 auto;
                button {
                    padding:8px;
                    background-color: #da6509;
                    color:#fff;
                    font-size: 2rem;
                }
            }
        }
    }
}
// I want these css rules when i'm not iPad anymore => Laptop
@media (min-width: 1024px) {
    #lg-main-dish-container {
        img {
            width:40vw;
        }
    }
}