#wrapper {
    height: 93vh;
    background-image: url('../../Pictures/404.gif');
    background-size: contain;
    background-position: center;
    margin-top: 12vh;
    background-repeat: no-repeat;
    background-color: white;
}