@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

#header-main-div {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height:10vh;
    align-items: center;
    position: sticky;
    top:0;
}
#header-logo {
    width:40vw;
}
#mobile-nav-btn {
   font-size: 4.5rem;
   position: relative;
   right:5px;
   color:#da6509;
}

#header-search-input {
    padding: 8px;
    border-radius: 10px;
    width: 53vw;
    color: #AE5633;
    font-size: 12px;
}

// Secondary Navbar - ipads or bigger
/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
    display: none;
    justify-content: space-between;
    #topnav-links {
      display: flex;
      align-items: center;
    }
    img {
      width: 23vw;
      height: 8vh;
    }
    .avatar-img {
      width:15vw;
      height:12vh;
      border-radius: 50%;
    }
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5rem;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #252627;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #da6509;
    color: white;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

// I want these css rules when i'm not mobile anymore => Ipad
@media (min-width: 480px) {
    #header-search-input {
        padding:15px;
        position: relative;
        right: 26px;
    }
    #mobile-nav-btn {
        font-size: 58px;
    }
    #header-logo {
        width: 22vw;
    }
}

// I want these css rules when i'm not Ipad anymore => Laptop
@media (min-width: 768px) {
    #header-main-div {
        display: none;
    }
    .topnav {
        display: flex;
        align-items: center;
        a {
          font-size: 2.5rem;
        }
        img {
          width: 30vw;
          height: 10vh;
        }
        .avatar-img {
          width:14vw;
          height: 10vh;
        }
    }

    /* ================================================
    Dropdown for nav menu from w3schools snippet
    =================================================== */
    /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 2.5rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #252627;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Keeps the profile dropdown from overflowing to right of page*/
  .dropdown-content2 {
    right:0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
    /* ================================================
        End of dropdown Rules
    =================================================== */
}

// I want these css rules when i'm not Laptop anymore => Xtra Lg Screens
@media (min-width: 1024px) {
    .topnav {
      .avatar-img {
        width: 6vw;
        height: 12vh;
      }
      a {
        font-size: 2rem;
      }
      img {
        width: 12vw;
        height: 10vh;
      }
    }
    .dropdown .dropbtn {
      font-size: 2rem;
    }
    
}