#footer-cont {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../Pictures/footer-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 58px 25px;
    text-align: center;
    #footer-logo-cont {
        img {
            width:45%;
        }
        p {
            font-size: 13px;
            margin: 10px 0;
        }
    }
    #footer-icon-cont {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
        }
        svg {
            font-size:4rem;
        }
    }
    #footer-support-cont {
        #footer-support-ul {
            padding: 5px 12px;
        }
    }
}

// iPad Rules
@media (min-width: 768px) {

}
@media (min-width: 1000px) {

}