#footer-cont {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../Pictures/footer-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 58px 25px;
    text-align: center;
    div {
        margin: 2vh 0;
    }
    #footer-logo-cont {
        img {
            width:45%;
        }
        p {
            font-size: 15px;
            margin: 10px 0;
        }
        h2 {
            font-size: 4rem; 
            margin: 0;
        }
    }
    #footer-icon-cont {
        h2 {
            font-size: 4rem; 
            margin: 0;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
        }
        svg {
            font-size:4rem;
            transition: 0.5s;
            cursor: pointer;
        }
        svg:hover {
            background-color: #da6509;
        }
    }
    #footer-support-cont {
        #footer-support-ul {
            padding: 5px 12px;
            font-size: 1.5rem;
        }
        h2 {
            font-size: 4rem; 
            margin: 0;
        }
        ul {
            list-style-type: none;
        }
    }
    #footer-gallery-cont {
        h2 {
            font-size: 4rem; 
            margin: 0;
        }
        #footer-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin: 5px;
                width:90px;
            }
        }
    }
}
#footer-copyright-cont {
    border-top: 1px solid white;
    background-color: black;
    color: white;

    p {
        margin: 0;
        padding:2vh 2vw;
        text-align: center;
        font-size: 1.5rem;
    }
}
// iPad Rules
@media (min-width: 768px) {
    #footer-cont {
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 15px 25px;
        #footer-logo-cont, #footer-icon-cont, #footer-support-cont, #footer-gallery-cont {
            width:45vw;
        }
        #footer-gallery-cont {
            #footer-gallery {
                justify-content: left;
            }
        } 
        #footer-icon-cont {
            ul {
                flex-wrap: wrap;
                justify-content: left;
            }
            svg {
                font-size: 8rem;
                margin-left:0.5vw;
            }
        }
        #footer-logo-cont {
            p {
                font-size: 19px;
            }
        } 
        #footer-support-cont {
            #footer-support-ul {
                font-size: 2rem;
            }

        } 
    }
}
@media (min-width: 1000px) {
    #footer-cont {
        padding: 0 10px;
        width:90%;
        margin: auto;
        #footer-logo-cont, #footer-icon-cont, #footer-support-cont {
            width:20%;
        }
        #footer-gallery-cont {
            width: 32%;
            #footer-gallery {
                justify-content: left;
            }
            img {
                font-size: 102px;
            }
        }
        #footer-icon-cont {
            svg {
                font-size: 5rem;
            }
        }
        #footer-logo-cont {
            p {
                font-size: 12px;
            }
        } 
    }
}