@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap'); // Fridge Assist name special logo

html {
  font-size: 60%;
}
body {
  letter-spacing: 1px;
  overflow-wrap:break-word;
  font-family: 'Montserrat', sans-serif;
}
span.trademarkName {
  color:#da6509;
  font-size:3rem;
  text-decoration: underline;
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.main-color {
  font-family: "Lobster Two", sans-serif !important;
  color: #da6509;
}
/* // Overlay styles */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100vh;
    text-align: center;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #1e1d22; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    a {
      button {
        padding:8px;
        background-color: #da6509;
        color:#fff !important;
        font-size: 2rem;
      }
    }
    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    input[type='search'] {
      margin-bottom: 2vh;
      position: relative;
      top: 1vh;
      color: grey;
      padding: 5px;
      width: 75vw;
      background: transparent;
      border: none;
      border-bottom: 1px solid #da6509;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
    }
      /* When you mouse over the navigation links, change their color */
    a:hover, a:focus {
      color: #f1f1f1;
    }
      /* Position the content inside the overlay */
    .overlay-content {
      position: relative;
      top: 1%; /* 25% from the top */
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      #fridge-assist-logo {
        width:50vw;
      }
      h2 {
        margin-top:2vh;
        font-size: 3rem;
        color: darkslategrey;
        margin-bottom: 0;
        text-decoration: underline;
      }
      #app-fridge-assist-logo-cont {
        margin-top:5em;
      }
      #app-overlay-links {
        min-height:40vh;
        width: 87vw;
        ul {
          list-style-type: none;
          li {
            position: relative;
            color:white;
            text-align: left;
            a {
                  font-size: 3.2rem;
                  text-decoration: none;
                  margin-bottom:0.5em;
            }
            div.app-overlay-links-cont {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                font-size: 2.5rem;
                margin: 1vh 0;
              }
              svg {
                font-size: 3rem !important;
                background-color: #353439;
                color:#da6509;
              }
            }
            .app-overlay-links-dropdown-cont {
                overflow: hidden;
                text-align: left;
                display: flex;
                flex-direction: column;
                height: 0;
                overflow: hidden;
                transition: all 1s;
                a {
                  color: white;
                  font-size: 1.8rem;
                  padding-left:1.1em;
                  text-decoration: none;
                  margin-bottom:0.5em;
                }
            }
          }
        }
      }
    }
}
#overlay-btn-div {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
}


@keyframes arrowMove {
  from {
    position: relative;
    left:0px;
  }
  to {
    position: relative;
    left:20px;
  }
}

#overlay-close-btn {
  color: grey;
  font-size: 5rem;
  animation: arrowMove 1.5s infinite;
}

#cooking-overlay {
  width:100vw; // Change this to 100vw on loading
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  background-color: #f5b04a;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: all 1s;
  overflow: hidden;
  p {
    font-size:3rem;
  }
  img {
    height:40vh;
  }
} 
#search-overlay {
  transition: all 1s;
  z-index:2;
  height:0;
  overflow: hidden;
  width:100vw;
  position: fixed;
  top:0;
  left:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9));

  #search-overlay-main {
    height:30vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 1.5rem;
    }
    input {
      border: 1px solid #FF5A5A;
    }
  }
  #search-overlay-btn {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 3rem !important;
  }
  #search-overlay-close-btn {
    background-color: #faebd7 !important;
    border-radius: 50%;
    position: relative;
    top:3vh;
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  #routes-wrapper {
    margin-left: 15vw;
  }
  #search-overlay {
    #search-overlay-main {
      input {
        font-size: 2.5rem;
      }
      p {
        font-size: 3rem;
      }
    } 
    #search-overlay-btn {
      font-size: 5rem !important;
      top:0;
      cursor: pointer;
    }
  }
  #cooking-overlay img {
    height:55vh
  }
  .overlay {
    margin-top: 7vh;
    .overlay-content {
      #app-overlay-links {
        ul {
          li {
            a {
              font-size: 3.5rem;
            }
            div.app-overlay-links-cont {
              p {
                font-size: 3.5rem;
              }
              svg {
                font-size: 4rem !important;
              }
            }
            .app-overlay-links-dropdown-cont {
              a {
                font-size: 2.1rem;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 50%;
  }
  #search-overlay {
    #search-overlay-close-btn {
      font-size: 3rem !important;
      top:1.5vh;
    }
    #search-overlay-main {
      input {
        font-size: 2rem;
      }
      p {
        font-size: 2rem;
      }
    } 
    #search-overlay-btn {
      font-size: 3rem !important;
      top:2.5vh;
    }
  } 
  #cooking-overlay img {
    width:30vw;
    height:auto;
  }
}